@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family:'Rubik', sans-serif;
    font-size: 16px;
    color: #88949B;
}

/* body/p - #88949B
 h1/logo/nav -  #bcc3c7;
 h3 - #555657;
intro background - #304353
other background- #f0f0f0
container background - white
 */


.container{
    background-color: #fff;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#304353;
    width: 100vw;
    padding: 20px;
    border-bottom: .5px solid #bcc3c7;
}

.logo{
    color:#bcc3c7;
    font-size: 25px;
}

.toggle-icon{
    display: none;
    color: #bcc3c7;
    font-size: 25px;
    cursor: pointer;
}

.nav-links{
    display: flex;
    /* margin: 0; */
    /* padding: 0; */
    /* justify-content: space-around; */
    /* align-items: center; */
}

.nav-links li{
    list-style: none;
    margin: 0 10px;
    font-size: 16px;
}

.nav-links a{
    text-decoration: none;
    color:#bcc3c7;
    padding: 16px;

}
.nav-links a:hover{
    color: #304353;
    background-color: #fff;
    padding: 8px;

}

/* intro section  */
.intro-section{
    text-align: center;
    background-color:#304353;
    padding: 160px;
}
.intro-title{
    margin-bottom: 30px;
}

.intro-title h3{
    font-size: 30px;
    letter-spacing: 5px;
    padding: 20px;
    text-transform: uppercase;
    font-weight: 700;
    color: #bcc3c7;


}
.intro-title p{
    letter-spacing: 2px;
    font-size: 16px;
    padding-top: 10px;
    font-weight: 300;
    
}
.intro-btn{
margin-top: 50px;
}

.intro-btn a{
    padding: 10px 30px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #E44C65;
    letter-spacing: 2px;
    color:#bcc3c7 ;
    text-decoration: none;
}

/* background section */
.background-section{
    /* background-color: #f0f0f0; */
    background-color: #bcc3c7;
    padding: 150px;
    display: flex;
    justify-content: center;
    align-items: center;


}
.background-title{
    width: 70%;
    height: 250px;
    padding: 20px 40px;
    border: 2px solid #bcc3c7;
    box-shadow: 2px 2px 15px 0 rgb(135 135 135 / 40%);
    position: relative;
    background: #fff;


}

.background-title h3{
    font-size: 20px;
    font-weight: 700;
    padding: 20px 0px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #555657;
}

.background-title p{
letter-spacing: 2px;
font-size: 16px;
padding-right: 50px;


}
.background-pos{
    width: 140px;
    height: 140px;
    background: #fff;
    border-radius: 50%;
    border: 2px solid #bcc3c7;
    box-shadow: 2px 2px 15px 0 rgb(135 135 135 / 40%);
    position: absolute;
    right: 0;
    left: 70%;
}

/* snapshot-section  */
.snapshot-section{
    background: #f0f0f0;
    padding: 30px;
    text-align: center;

}
.snapshot-title{
    margin: 20px;

}

.snapshot-title h3{
    font-size: 25px;
    font-weight: 700;
    padding: 20px;
    letter-spacing: 2px;
    color: #555657;

}

.snapshot-title p{
    padding: 10px;
    font-size: 16px;
    letter-spacing: 2px;

}
 .snapshot-box-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: #f0f0f0; */
    padding: 4rem 6rem;
 }
 .snapshot-box-content{
    display: flex;
    justify-content: space-between;
 }

.box1{
    width: 200px;
    height: 200px;
    border: 1px solid #bcc3c7;
   box-shadow: 2px 2px 15px 0 rgb(135 135 135 / 40%);
   background: #fff;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 2px;

}
.box3{
    width: 200px;
    height: 200px;
    border: 1px solid #bcc3c7;
   box-shadow: 2px 2px 15px 0 rgb(135 135 135 / 40%);
   background: #304353;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 2px;
}
.circle{
    display: flex;
    margin: 0 auto;
    border-radius: 50%;
    width: 90px;
    height: 90px;
    background: #bcc3c7;
    margin-top: 20px;

}

.box1 h3, .box3 h3{
    padding-top: 20px;
    color:#E44C65;

}

/* gallery section  */
.gallery-section{
    background: #fff;
    padding: 30px;
}
.gallery-title{
    margin: 40px;
    text-align: center;

    
}
.gallery-title h3{
    font-size: 25px;
    font-weight: 700;
    padding-top: 20px;
    letter-spacing: 2px;
    color: #555657;

    
}
.gallery-title p{
    padding: 10px;
    font-size: 16px;
    letter-spacing: 2px;

}
.gallery-image-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 40px ;
}
.gallery-wrap{
    /* margin: 10px; */
}

.gallery-image-box{
   margin: 10px; 
}

.gallery-image-box img{
    width: 280px;
    height: 250px;
}

.footer-section{
    text-align: center;
    padding: 30px;
    background: #304353;
}
.footer-title{
    margin: 30px;
}
.footer-title h3{
    color: #bcc3c7;
    font-size: 25px;
    letter-spacing: 2px;

}
.footer-title p{
    color: #88949B;
    letter-spacing: 2px;
    font-size: 20px;
    padding-top: 10px;
}
.footer-input{
    /* display: inline-block; */
    /* width: 100%; */
    /* display: flex;
    justify-content: center;
    align-items: center; */
    padding-top: 10px;
}

input[type="text"]{
    background: transparent;
    font-size: 20px;
    margin-right: 10px;
    padding: 10px 20px;
    width: 25%;
    outline: none;
    border: 1px solid #bcc3c7;
    border-radius: 2px;
    color: #f0f0f0;

}

input[type="email"]{
    background: transparent;
    font-size: 20px;
    margin-right: 10px;
    padding: 10px 20px;
    width: 25%;
    outline: none;
    border: 1px solid #bcc3c7;
    border-radius: 2px;
    color: #f0f0f0;

}

::placeholder{
    color: #bcc3c7;
}

.footer-textarea{
 margin: 20px;   
}

textarea{
    width: 50%;
    height: 150px;
    background: transparent;
    outline: none;
    border: 1px solid #bcc3c7;
    color: #f0f0f0;
    padding: 10px;
    font-size: 20px;


}
.footer-btn{
    margin: 30px;
}

.footer-btn a{
    background-color: #E44C65;
    color: #f0f0f0;
    text-decoration: none;
    font-size: 20px;
    padding: 10px 40px;
    border-radius: 5px;
    letter-spacing: 2px;
}

footer h6{
    color: #88949B;
    font-size: 16px;
    padding-top: 80px;
    letter-spacing: 2px;
}

/* @media + toggle menu using javascript */
header{
    padding: 15px 40px;

}
.logo{
    font-size: 20px;

}
.toggle-icon{
    display: block;
    font-size: 20px;
}
ul.nav-links{
    display: none;
}

.intro-section{
    padding: 100px;
}

.intro-title h3{

}

/* background section */
.background-section{
    padding: 85px;
}
.background-title{
    width: 100%;
    height: 100%;
    padding: 20px 30px;
}
.background-title p{
    font-size: 95%;
}
.background-pos{
    width: 120px;
    height: 120px;
    left: 75%;

}

/* snapshot team section */
.snapshot-title h3 {
    font-size: 20px;
}
.snapshot-title p {
    letter-spacing: 0px;
}
.snapshot-box-wrapper {
    padding: 3rem 5rem;

}
.snapshot-box-content{
flex-direction: column;

}

.box1, .box3 {
    width: 100%;
    height: 100%;
}

/* .gallery section  */
.gallery-title h3{
    font-size:20px ;
    letter-spacing: 0px;
}
.gallery-title p{
    letter-spacing: 0px;
}
.gallery-image-wrapper {
    padding-top: 20px;
}

.gallery-wrap{
    /* margin: 10px; */
}

.gallery-image-box img{
width:250px ;
height:220px ;
}

/* footer  */
.footer-title h3 {
    font-size: 20px;
}
.footer-title p {
    letter-spacing: 0px;
    font-size: 16px;
}
input[type="text"],
    input[type="email"] {
    font-size: 16px;
    padding: 10px 15px;
    width: 30%;
}
textarea{
    width: 65%;
}
.footer-btn a {
    font-size: 14px;
    padding: 5px 15px;
}
footer h6 {
    color: #88949B;
    font-size: 12px;
    padding-top: 65px;
    letter-spacing: 2px;
}